/* O modo escuro é o padrão */
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1285;
    margin: 0 auto;
    background-color: #212121;
    color: #f5f5f5;
}

.modo-claro{
    background-color: #5e5b5ead;
    color: #333333;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

header .logo, header .imagem-botao{
    width: 35px;
    cursor: pointer;
    transform: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    border: none;
    background: none;
}

header .logo:hover, header .imagem-botao:hover{
    transform: scale(1.05);
}

main{
    padding: 1% 5%;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #a8a8a8;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.modo-claro .cartao-pokemon{
    background-color: #d8e3ec;
}

main .cartao-pokemon:hover{
    background-color: #dd5f5f;
    transform: scale(1.02);
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1%;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

main .cartao-pokemon .gif {
    width: 75px;
    height: 75px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f0;
}

.inseto{
    background-color: #a6b91a;
}

.voador{
    background-color: #0fbfff;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 15px;
}

